@inherits LayoutComponentBase

<Spinner />
<AlertComponent />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="px-4 top-row">
        <a class="ml-md-auto"
           href="http://blazor.net"
           target="_blank">
            About
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>